Electros/Electros/Service References/FaultsServ/FaultReportLogService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:13866/FaultReportLogService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common" />
  <xs:element name="Create">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="faultReport" nillable="true" type="q1:FaultReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="faultLog" nillable="true" type="q2:FaultLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLogResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateTicketNum">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateTicketNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerateTicketNumResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTicketNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ticketNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTicketNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="getTicketNumResult" nillable="true" type="q3:FaultReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFaultReportIDByAccountIDTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountID" type="xs:int" />
        <xs:element minOccurs="0" name="ticketNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFaultReportIDByAccountIDTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="getFaultReportIDByAccountIDTicketResult" nillable="true" type="q4:FaultReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFaultLogByReportID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="frID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFaultLogByReportIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="getFaultLogByReportIDResult" nillable="true" type="q5:ArrayOfFaultLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFaultLogs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getFaultLogsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="getFaultLogsResult" nillable="true" type="q6:ArrayOfFaultLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFaultReportIDByAccountID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFaultReportIDByAccountIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="getFaultReportIDByAccountIDResult" nillable="true" type="q7:ArrayOfFaultReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFaultByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFaultByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="getFaultByIDResult" nillable="true" type="q8:FaultReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>