Electros/Electros/Service References/FaultsServ/FaultReportLogService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FaultReportLogService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1314/FaultReportLogService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1314/FaultReportLogService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1314/FaultReportLogService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common" />
      <xsd:import schemaLocation="http://localhost:1314/FaultReportLogService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://localhost:1314/FaultReportLogService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFaultReportLogService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IFaultReportLogService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IFaultReportLogService_CreateLog_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateLog" />
  </wsdl:message>
  <wsdl:message name="IFaultReportLogService_CreateLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateLogResponse" />
  </wsdl:message>
  <wsdl:message name="IFaultReportLogService_GenerateTicketNum_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateTicketNum" />
  </wsdl:message>
  <wsdl:message name="IFaultReportLogService_GenerateTicketNum_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateTicketNumResponse" />
  </wsdl:message>
  <wsdl:message name="IFaultReportLogService_getTicketNum_InputMessage">
    <wsdl:part name="parameters" element="tns:getTicketNum" />
  </wsdl:message>
  <wsdl:message name="IFaultReportLogService_getTicketNum_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTicketNumResponse" />
  </wsdl:message>
  <wsdl:message name="IFaultReportLogService_getFaultReportIDByAccountIDTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:getFaultReportIDByAccountIDTicket" />
  </wsdl:message>
  <wsdl:message name="IFaultReportLogService_getFaultReportIDByAccountIDTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:getFaultReportIDByAccountIDTicketResponse" />
  </wsdl:message>
  <wsdl:message name="IFaultReportLogService_getFaultLogByReportID_InputMessage">
    <wsdl:part name="parameters" element="tns:getFaultLogByReportID" />
  </wsdl:message>
  <wsdl:message name="IFaultReportLogService_getFaultLogByReportID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getFaultLogByReportIDResponse" />
  </wsdl:message>
  <wsdl:message name="IFaultReportLogService_getFaultLogs_InputMessage">
    <wsdl:part name="parameters" element="tns:getFaultLogs" />
  </wsdl:message>
  <wsdl:message name="IFaultReportLogService_getFaultLogs_OutputMessage">
    <wsdl:part name="parameters" element="tns:getFaultLogsResponse" />
  </wsdl:message>
  <wsdl:message name="IFaultReportLogService_getFaultReportIDByAccountID_InputMessage">
    <wsdl:part name="parameters" element="tns:getFaultReportIDByAccountID" />
  </wsdl:message>
  <wsdl:message name="IFaultReportLogService_getFaultReportIDByAccountID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getFaultReportIDByAccountIDResponse" />
  </wsdl:message>
  <wsdl:message name="IFaultReportLogService_getFaultByID_InputMessage">
    <wsdl:part name="parameters" element="tns:getFaultByID" />
  </wsdl:message>
  <wsdl:message name="IFaultReportLogService_getFaultByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getFaultByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IFaultReportLogService_searchLogByDates_InputMessage">
    <wsdl:part name="parameters" element="tns:searchLogByDates" />
  </wsdl:message>
  <wsdl:message name="IFaultReportLogService_searchLogByDates_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchLogByDatesResponse" />
  </wsdl:message>
  <wsdl:message name="IFaultReportLogService_search_InputMessage">
    <wsdl:part name="parameters" element="tns:search" />
  </wsdl:message>
  <wsdl:message name="IFaultReportLogService_search_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchResponse" />
  </wsdl:message>
  <wsdl:message name="IFaultReportLogService_sortByDate_InputMessage">
    <wsdl:part name="parameters" element="tns:sortByDate" />
  </wsdl:message>
  <wsdl:message name="IFaultReportLogService_sortByDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:sortByDateResponse" />
  </wsdl:message>
  <wsdl:message name="IFaultReportLogService_getFaultByAccountIDPRoductID_InputMessage">
    <wsdl:part name="parameters" element="tns:getFaultByAccountIDPRoductID" />
  </wsdl:message>
  <wsdl:message name="IFaultReportLogService_getFaultByAccountIDPRoductID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getFaultByAccountIDPRoductIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IFaultReportLogService">
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/IFaultReportLogService/Create" message="tns:IFaultReportLogService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFaultReportLogService/CreateResponse" message="tns:IFaultReportLogService_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IFaultReportLogService/CreateLog" message="tns:IFaultReportLogService_CreateLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFaultReportLogService/CreateLogResponse" message="tns:IFaultReportLogService_CreateLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateTicketNum">
      <wsdl:input wsaw:Action="http://tempuri.org/IFaultReportLogService/GenerateTicketNum" message="tns:IFaultReportLogService_GenerateTicketNum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFaultReportLogService/GenerateTicketNumResponse" message="tns:IFaultReportLogService_GenerateTicketNum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTicketNum">
      <wsdl:input wsaw:Action="http://tempuri.org/IFaultReportLogService/getTicketNum" message="tns:IFaultReportLogService_getTicketNum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFaultReportLogService/getTicketNumResponse" message="tns:IFaultReportLogService_getTicketNum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getFaultReportIDByAccountIDTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/IFaultReportLogService/getFaultReportIDByAccountIDTicket" message="tns:IFaultReportLogService_getFaultReportIDByAccountIDTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFaultReportLogService/getFaultReportIDByAccountIDTicketResponse" message="tns:IFaultReportLogService_getFaultReportIDByAccountIDTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getFaultLogByReportID">
      <wsdl:input wsaw:Action="http://tempuri.org/IFaultReportLogService/getFaultLogByReportID" message="tns:IFaultReportLogService_getFaultLogByReportID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFaultReportLogService/getFaultLogByReportIDResponse" message="tns:IFaultReportLogService_getFaultLogByReportID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getFaultLogs">
      <wsdl:input wsaw:Action="http://tempuri.org/IFaultReportLogService/getFaultLogs" message="tns:IFaultReportLogService_getFaultLogs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFaultReportLogService/getFaultLogsResponse" message="tns:IFaultReportLogService_getFaultLogs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getFaultReportIDByAccountID">
      <wsdl:input wsaw:Action="http://tempuri.org/IFaultReportLogService/getFaultReportIDByAccountID" message="tns:IFaultReportLogService_getFaultReportIDByAccountID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFaultReportLogService/getFaultReportIDByAccountIDResponse" message="tns:IFaultReportLogService_getFaultReportIDByAccountID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getFaultByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IFaultReportLogService/getFaultByID" message="tns:IFaultReportLogService_getFaultByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFaultReportLogService/getFaultByIDResponse" message="tns:IFaultReportLogService_getFaultByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="searchLogByDates">
      <wsdl:input wsaw:Action="http://tempuri.org/IFaultReportLogService/searchLogByDates" message="tns:IFaultReportLogService_searchLogByDates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFaultReportLogService/searchLogByDatesResponse" message="tns:IFaultReportLogService_searchLogByDates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="search">
      <wsdl:input wsaw:Action="http://tempuri.org/IFaultReportLogService/search" message="tns:IFaultReportLogService_search_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFaultReportLogService/searchResponse" message="tns:IFaultReportLogService_search_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sortByDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IFaultReportLogService/sortByDate" message="tns:IFaultReportLogService_sortByDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFaultReportLogService/sortByDateResponse" message="tns:IFaultReportLogService_sortByDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getFaultByAccountIDPRoductID">
      <wsdl:input wsaw:Action="http://tempuri.org/IFaultReportLogService/getFaultByAccountIDPRoductID" message="tns:IFaultReportLogService_getFaultByAccountIDPRoductID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFaultReportLogService/getFaultByAccountIDPRoductIDResponse" message="tns:IFaultReportLogService_getFaultByAccountIDPRoductID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFaultReportLogService" type="tns:IFaultReportLogService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/IFaultReportLogService/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateLog">
      <soap:operation soapAction="http://tempuri.org/IFaultReportLogService/CreateLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateTicketNum">
      <soap:operation soapAction="http://tempuri.org/IFaultReportLogService/GenerateTicketNum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTicketNum">
      <soap:operation soapAction="http://tempuri.org/IFaultReportLogService/getTicketNum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFaultReportIDByAccountIDTicket">
      <soap:operation soapAction="http://tempuri.org/IFaultReportLogService/getFaultReportIDByAccountIDTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFaultLogByReportID">
      <soap:operation soapAction="http://tempuri.org/IFaultReportLogService/getFaultLogByReportID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFaultLogs">
      <soap:operation soapAction="http://tempuri.org/IFaultReportLogService/getFaultLogs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFaultReportIDByAccountID">
      <soap:operation soapAction="http://tempuri.org/IFaultReportLogService/getFaultReportIDByAccountID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFaultByID">
      <soap:operation soapAction="http://tempuri.org/IFaultReportLogService/getFaultByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchLogByDates">
      <soap:operation soapAction="http://tempuri.org/IFaultReportLogService/searchLogByDates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="search">
      <soap:operation soapAction="http://tempuri.org/IFaultReportLogService/search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sortByDate">
      <soap:operation soapAction="http://tempuri.org/IFaultReportLogService/sortByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFaultByAccountIDPRoductID">
      <soap:operation soapAction="http://tempuri.org/IFaultReportLogService/getFaultByAccountIDPRoductID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FaultReportLogService">
    <wsdl:port name="BasicHttpBinding_IFaultReportLogService" binding="tns:BasicHttpBinding_IFaultReportLogService">
      <soap:address location="http://localhost:1314/FaultReportLogService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>