Electros/Electros/Service References/FaultServ/FaultReportLogService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FaultReportLogService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:13866/FaultReportLogService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:13866/FaultReportLogService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:13866/FaultReportLogService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common" />
      <xsd:import schemaLocation="http://localhost:13866/FaultReportLogService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://localhost:13866/FaultReportLogService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFaultReportLogService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IFaultReportLogService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IFaultReportLogService_CreateLog_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateLog" />
  </wsdl:message>
  <wsdl:message name="IFaultReportLogService_CreateLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateLogResponse" />
  </wsdl:message>
  <wsdl:portType name="IFaultReportLogService">
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/IFaultReportLogService/Create" message="tns:IFaultReportLogService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFaultReportLogService/CreateResponse" message="tns:IFaultReportLogService_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IFaultReportLogService/CreateLog" message="tns:IFaultReportLogService_CreateLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFaultReportLogService/CreateLogResponse" message="tns:IFaultReportLogService_CreateLog_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFaultReportLogService" type="tns:IFaultReportLogService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/IFaultReportLogService/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateLog">
      <soap:operation soapAction="http://tempuri.org/IFaultReportLogService/CreateLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FaultReportLogService">
    <wsdl:port name="BasicHttpBinding_IFaultReportLogService" binding="tns:BasicHttpBinding_IFaultReportLogService">
      <soap:address location="http://localhost:13866/FaultReportLogService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>