Electros/Electros/Service References/AccountServ/AccountService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1314/AccountService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="Account">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Comment" nillable="true" type="tns:ArrayOfComment" />
          <xs:element minOccurs="0" name="FaultReport" nillable="true" type="tns:ArrayOfFaultReport" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="Order" nillable="true" type="tns:ArrayOfOrder" />
          <xs:element minOccurs="0" name="PIN" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Rating" nillable="true" type="tns:ArrayOfRating" />
          <xs:element minOccurs="0" name="Role" nillable="true" type="tns:ArrayOfRole" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:ArrayOfUser" />
          <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
  <xs:complexType name="ArrayOfComment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Comment" nillable="true" type="tns:Comment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComment" nillable="true" type="tns:ArrayOfComment" />
  <xs:complexType name="Comment">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q2:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Account" nillable="true" type="tns:Account" />
          <xs:element minOccurs="0" name="AccountID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="AccountReference" nillable="true" type="q2:EntityReferenceOfAccountKmbgGhhj" />
          <xs:element minOccurs="0" name="Comment1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
          <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ProductReference" nillable="true" type="q2:EntityReferenceOfProductKmbgGhhj" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Comment" nillable="true" type="tns:Comment" />
  <xs:complexType name="Product">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q3:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Category" nillable="true" type="tns:Category" />
          <xs:element minOccurs="0" name="CategoryID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="CategoryReference" nillable="true" type="q3:EntityReferenceOfCategoryKmbgGhhj" />
          <xs:element minOccurs="0" name="Comment" nillable="true" type="tns:ArrayOfComment" />
          <xs:element minOccurs="0" name="DateListed" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FaultReport" nillable="true" type="tns:ArrayOfFaultReport" />
          <xs:element minOccurs="0" name="Features" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Price" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="ProductOrder" nillable="true" type="tns:ArrayOfProductOrder" />
          <xs:element minOccurs="0" name="Rating" nillable="true" type="tns:ArrayOfRating" />
          <xs:element minOccurs="0" name="StockAmount" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="Category">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q4:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Product" nillable="true" type="tns:ArrayOfProduct" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
  <xs:complexType name="ArrayOfFaultReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FaultReport" nillable="true" type="tns:FaultReport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFaultReport" nillable="true" type="tns:ArrayOfFaultReport" />
  <xs:complexType name="FaultReport">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q5:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Account" nillable="true" type="tns:Account" />
          <xs:element minOccurs="0" name="AccountID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="AccountReference" nillable="true" type="q5:EntityReferenceOfAccountKmbgGhhj" />
          <xs:element minOccurs="0" name="Barcode" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="FaultLog" nillable="true" type="tns:ArrayOfFaultLog" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
          <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ProductReference" nillable="true" type="q5:EntityReferenceOfProductKmbgGhhj" />
          <xs:element minOccurs="0" name="TicketNum" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FaultReport" nillable="true" type="tns:FaultReport" />
  <xs:complexType name="ArrayOfFaultLog">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FaultLog" nillable="true" type="tns:FaultLog" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFaultLog" nillable="true" type="tns:ArrayOfFaultLog" />
  <xs:complexType name="FaultLog">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q6:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="DateReport" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FaultReport" nillable="true" type="tns:FaultReport" />
          <xs:element minOccurs="0" name="FaultReportID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="FaultReportReference" nillable="true" type="q6:EntityReferenceOfFaultReportKmbgGhhj" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FaultLog" nillable="true" type="tns:FaultLog" />
  <xs:complexType name="ArrayOfProductOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductOrder" nillable="true" type="tns:ProductOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductOrder" nillable="true" type="tns:ArrayOfProductOrder" />
  <xs:complexType name="ProductOrder">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q7:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Order" nillable="true" type="tns:Order" />
          <xs:element minOccurs="0" name="OrderID" type="xs:int" />
          <xs:element minOccurs="0" name="OrderReference" nillable="true" type="q7:EntityReferenceOfOrderKmbgGhhj" />
          <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
          <xs:element minOccurs="0" name="ProductID" type="xs:int" />
          <xs:element minOccurs="0" name="ProductReference" nillable="true" type="q7:EntityReferenceOfProductKmbgGhhj" />
          <xs:element minOccurs="0" name="Quantity" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProductOrder" nillable="true" type="tns:ProductOrder" />
  <xs:complexType name="Order">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q8:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Account" nillable="true" type="tns:Account" />
          <xs:element minOccurs="0" name="AccountID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="AccountReference" nillable="true" type="q8:EntityReferenceOfAccountKmbgGhhj" />
          <xs:element minOccurs="0" name="DateOfPurchase" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="ProductOrder" nillable="true" type="tns:ArrayOfProductOrder" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WarrantyExpiryDate" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="ArrayOfRating">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Rating" nillable="true" type="tns:Rating" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRating" nillable="true" type="tns:ArrayOfRating" />
  <xs:complexType name="Rating">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q9:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Account" nillable="true" type="tns:Account" />
          <xs:element minOccurs="0" name="AccountID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="AccountReference" nillable="true" type="q9:EntityReferenceOfAccountKmbgGhhj" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
          <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ProductReference" nillable="true" type="q9:EntityReferenceOfProductKmbgGhhj" />
          <xs:element minOccurs="0" name="Rating1" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Rating" nillable="true" type="tns:Rating" />
  <xs:complexType name="ArrayOfOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder" nillable="true" type="tns:ArrayOfOrder" />
  <xs:complexType name="ArrayOfRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Role" nillable="true" type="tns:Role" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRole" nillable="true" type="tns:ArrayOfRole" />
  <xs:complexType name="Role">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q10:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Account" nillable="true" type="tns:ArrayOfAccount" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Role" nillable="true" type="tns:Role" />
  <xs:complexType name="ArrayOfAccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Account" nillable="true" type="tns:Account" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccount" nillable="true" type="tns:ArrayOfAccount" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="User">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q11:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Account" nillable="true" type="tns:Account" />
          <xs:element minOccurs="0" name="AccountID" type="xs:int" />
          <xs:element minOccurs="0" name="AccountReference" nillable="true" type="q11:EntityReferenceOfAccountKmbgGhhj" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ResidanceName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StreetName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Town" nillable="true" type="tns:Town" />
          <xs:element minOccurs="0" name="TownID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="TownReference" nillable="true" type="q11:EntityReferenceOfTownKmbgGhhj" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="Town">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q12:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Country" nillable="true" type="tns:Country" />
          <xs:element minOccurs="0" name="CountryID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="CountryReference" nillable="true" type="q12:EntityReferenceOfCountryKmbgGhhj" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:ArrayOfUser" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Town" nillable="true" type="tns:Town" />
  <xs:complexType name="Country">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q13:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Town" nillable="true" type="tns:ArrayOfTown" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Country" nillable="true" type="tns:Country" />
  <xs:complexType name="ArrayOfTown">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Town" nillable="true" type="tns:Town" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTown" nillable="true" type="tns:ArrayOfTown" />
</xs:schema>