Electros/Electros/Service References/TownServ/TownService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TownService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1314/TownService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1314/TownService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1314/TownService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common" />
      <xsd:import schemaLocation="http://localhost:1314/TownService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://localhost:1314/TownService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITownService_GetAllTowns_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTowns" />
  </wsdl:message>
  <wsdl:message name="ITownService_GetAllTowns_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTownsResponse" />
  </wsdl:message>
  <wsdl:message name="ITownService_GetTownByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTownByID" />
  </wsdl:message>
  <wsdl:message name="ITownService_GetTownByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTownByIDResponse" />
  </wsdl:message>
  <wsdl:portType name="ITownService">
    <wsdl:operation name="GetAllTowns">
      <wsdl:input wsaw:Action="http://tempuri.org/ITownService/GetAllTowns" message="tns:ITownService_GetAllTowns_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITownService/GetAllTownsResponse" message="tns:ITownService_GetAllTowns_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTownByID">
      <wsdl:input wsaw:Action="http://tempuri.org/ITownService/GetTownByID" message="tns:ITownService_GetTownByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITownService/GetTownByIDResponse" message="tns:ITownService_GetTownByID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITownService" type="tns:ITownService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllTowns">
      <soap:operation soapAction="http://tempuri.org/ITownService/GetAllTowns" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTownByID">
      <soap:operation soapAction="http://tempuri.org/ITownService/GetTownByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TownService">
    <wsdl:port name="BasicHttpBinding_ITownService" binding="tns:BasicHttpBinding_ITownService">
      <soap:address location="http://localhost:1314/TownService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>